<footer class="bg-gradient-to-r from-emerald-400 to-indigo-400 p-2 text-center font-bold text-white">
  &copy 2024 Shotaro Nakamura, <a href="https://github.com/nakasyou/web" class="underline hover:no-underline">GitHub Repo</a>
</footer>
