---
const links = [
  ['Top', '/'],
  ['History', '/history'],
  ['Info', '/info']
]
---
<header>
  <div class="w-full flex justify-end gap-5 p-2 fixed top-0 left-0 text-slate-500">
    {
      links.map(([title, url]) => <div>
        <a href={url} class:list={{
          "text-slate-300": Astro.url.pathname === url
        }}>{title}</a>
      </div>)
    }
  </div>
</header>